<div class="container">
    <h1 class="mt-5"></h1>
</div>

<div class="alert alert-danger" role="alert">
    Dado un usuario en /dogfacts, Cuando aprieta el botón Search dog facts, Entonces se muestra debajo del botón el fact Y se agrega un botón.
</div>

<div class="alert alert-danger" role="alert">
    Dado el nuevo botón visible, Cuando se aprieta el botón, Entonces viajo a la ruta /facts y veo listados todos los facts sobre perros obtenidos hasta el momento Y el último agregado tiene un estilo o color distinto (de la manera que quieran lo tienen que diferenciar).
</div>

<div class="alert alert-danger" role="alert">
    Dado un usuario en /dogfacts con 10 datos ya obtenidos previamente, Entonces el sistema redirije a la ruta /home. Implementar este punto utilizando guard.
</div>

<div class="alert alert-danger" role="alert">
    <h1>RECUERDEN QUE DEBEN IMPLEMENTAR UNA SPA</h1>
</div>